<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key ="smtpAddress" value="smtp.vsb.cz"/>
    <add key ="addressFrom" value="nobody@at.net"/>
    <add key ="addressTo" value="jan.osmancik.st@vsb.cz"/>
    <add key ="emailSubject" value="Pocasi"/>
    <add key ="emailBodyLine1" value="V příloze najdete graf s předpovědí počasí."/>
    <add key ="emailBodyLine2" value="Na tento email neodpovídejte. Adresa je smyšlená."/>
  </appSettings>
</configuration>